/* Fuente */
@import url('https://allfont.es/allfont.css?fonts=book-antiqua');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Variables de color */
:root {
  --decorado: #bc9321;
  --decorado1: #a08a5a;
  --decorado2: #ffecb7;
  --decorado4: #907335;
  --fondo: #0b0020;
  --fondo1: #e6e6e6;
  --fondo2: #b3b3b3;
  --fondo3: #ccc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Mobile View 
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
/******************************** Sección de búsqueda *******************************/
.ayudaBuscar {
  background-image: url("../img/desarrollos/playales_Yucatan.jpg");
  background-size: cover;
}

.ayudaBuscar h1 {
  width: 95%;
  margin: 1rem auto;
  text-align: center;
}

.ayudaBuscar h1 span {
  color: var(--decorado);
}

.ayudaBuscar .ayudaBuscar__img {
  display: none;
}

.ayudaBuscar .buscaPropiedad {
  background-color: var(--fondo3);
  width: 20rem;
  height: 22rem;
  margin: 1rem auto 0;
}

.ayudaBuscar .buscaPropiedad .buscaPropiedad__titulo {
  font-size: 1.25rem;
  margin: 1rem auto;
  padding-top: 0.5rem;
  text-align: center;
}

.ayudaBuscar .buscaPropiedad p {
  width: 266px;
  margin: 0.25rem auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.ayudaBuscar .buscaPropiedad input {
  display: block;
  width: 266px;
  height: 28px;
  margin: 1rem auto;
  outline: none;
  border: 1px solid var(--decorado);
  border-radius: 10px;
  padding: 0.15rem 0.25rem;
}

.ayudaBuscar .buscaPropiedad input::placeholder {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

/* -webkit-appearance: none; */
.ayudaBuscar .buscaPropiedad .buscaPropiedad__numPropiedades .estado {
  background-color: var(--fondo3);
  outline: none;
  border: 0;
  color: var(--decorado);
}

.ayudaBuscar .buscaPropiedad .buscaPropiedad__tipoPropiedad {
  font-size: 16px;
}

.ayudaBuscar .buscaPropiedad .buscaPropiedad__tipoPropiedad select {
  outline: none;
  background-color: #fff;
  width: 100%;
  height: 28px;
  border: 1px solid var(--decorado);
  border-radius: 10px;
  padding: 0.1rem 0.25rem;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.ayudaBuscar .buscaPropiedad .inputsPequeños {
  width: 266px;
  margin: 0.5rem auto 0;
  display: flex;

flex-wrap: wrap;}

.ayudaBuscar .buscaPropiedad .inputsPequeños p {
  width: 124px;
  font-size: 16px;
}

.ayudaBuscar .buscaPropiedad .inputsPequeños p select {
  background-color: #fff;
  display: block;
  width: 100%;
  height: 28px;
  outline: none;
  border: 1px solid var(--decorado);
  border-radius: 10px;
  padding: 0.1rem 0.25rem;
  font-size: 15px;
}

.ayudaBuscar .buscaPropiedad button {
  display: block;
  width: 84px;
  height: 26px;
  margin: 1rem auto 0;
  outline: none;
  background-color: var(--decorado);
  border: 0;
  border-radius: 9999px;
  color: #fff;
  font-size: 15px;
  font-family: 'Book Antiqua', arial;
}

.ayudaBuscar .buscaPropiedad button:hover {
  background-color: #fff;
  color: var(--decorado);
}

/******************************** Sección de botones *******************************/
.menuEstados {
  background-color: var(--fondo1);
}

.menuEstados h2 {
  width: 90%;
  padding-top: 0.5rem;
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 31px;
}

.menuEstados .botonesEstados {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menuEstados .botonesEstados button {
  display: block;
  outline: none;
  cursor: pointer;
  border: 0;
  background-color: var(--fondo1);
  position: relative;
  margin: 0.75rem 0;
  font-family: Arial, Helvetica, sans-serif;
}

.menuEstados .botonesEstados button:hover::before {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--decorado);
  position: absolute;
  bottom: 0;
  left: 0;
}

/******************************** Sección de tarjetas *******************************/
.propiedadesCards .propiedadesCards__indicador {
  width: 12rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}

.propiedadesCards .propiedadesCards__indicador button {
  background-color: #fff;
  display: block;
  width: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: var(--decorado);
  outline: none;
  border: 0;
  cursor: pointer;
}

/* Área de tarjetas */
.propiedadesCards .propiedadesCards__cards {
  width: 100%;
  overflow: hidden;
}

.propiedadesCards .propiedadesCards__cards ul {
  width: 200%;
  display: flex;
  transition: 1s;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards {
  width: 100%;
  list-style: none;
}

/*------------------------------------------------------- Tarjetas --------------------------------------*/
.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo {
  display: block;
  width: 95%;
  margin: 1rem auto;
  border-radius: 0 0 10px 10px;
  text-decoration: none;
}

/* Carrusel */
.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__carousel {
  width: 100%;
  height: 210px;
  position: relative;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__carousel .cardInfo__caruosel-carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__carousel .cardInfo__caruosel-text {
  background-color: #b3b3b3b7;
  color: #000;
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 15px 15px 0 0;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__carousel .cardInfo__caruosel-text span {
  line-height: 26px;
  margin: 0 1rem;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Texto de la tarjeta en departamentos y casas*/
.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__info {
  background-color: var(--fondo1);
  height: 60px;
  border-radius: 0 0 10px 10px;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__info .precioLogos,
.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__info .direccionLogos {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem 0;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__info .precioLogos {
  margin-top: 0;
  padding-top: 0.5rem;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__info .direccionLogos {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__info .precioLogos .precioLogos__precio {
  color: var(--decorado);
  /* font-family: ; */
  font-size: 21px;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__info .precioLogos .precioLogos__precio span {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__info .precioLogos .precioLogos___logos {
  color: rgba(0, 0, 0, 0.493);
  font-size: 15px;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__info .precioLogos .precioLogos___logos i {
  display: inline-block;
  margin-left: 0.5rem;
  margin-top: 0.35rem;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__info .direccionLogos .direccionLogos__direccion {
  color: rgba(0, 0, 0, 0.493);
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__info .direccionLogos .direccionLogos__logos {
  color: rgba(0, 0, 0, 0.493);
  font-size: 15px;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__info .direccionLogos .direccionLogos__logos i {
  display: inline-block;
  margin-left: 0.5rem;
}

/* Texto de la tarjeta en desarrollos */
.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__infoDesa {
  background-color: var(--fondo1);
  height: 89px;
  border-radius: 0 0 10px 10px;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__infoDesa .nombrePrecio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__infoDesa .nombrePrecio .cardInfo__infoDesa-nombre {
  color: rgba(0, 0, 0, 0.493);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__infoDesa .nombrePrecio .cardInfo__infoDesa-ubicacion {
  color: rgba(0, 0, 0, 0.493);
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__infoDesa .cardInfo__infoDesa-precio {
  color: var(--decorado);
  font-size: 18px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__infoDesa .cardInfo__infoDesa-precio span {
  font-size: 12px;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__infoDesa .cardInfo__infoDesa-logos {
  display: flex;
  justify-content: space-evenly;
}

.propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo .cardInfo__infoDesa .cardInfo__infoDesa-logos p {
  color: rgba(0, 0, 0, 0.493);
  font-size: 15px;
}



/* indicador de páginas */
.propiedadesCards .propiedadesCards__indicador button:hover {
  background-color: var(--decorado);
  color: #fff;
}

/******************************** Sección de no encuentras *******************************/
.noEncuentras {
  background-color: var(--fondo1);
  height: 14rem;
}

.noEncuentras .texto h2 {
  width: 90%;
  margin: 0 auto 0.5rem;
  padding-top: 0.5rem;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 31px;
}

.noEncuentras .texto h2 span {
  color: var(--decorado);
}

.noEncuentras .texto p {
  width: 90%;
  margin: 0 auto 0.5rem;
  text-align: justify;
}

.noEncuentras .ingresarButton {
  display: block;
  background-color: var(--decorado);
  color: var(--decorado2);
  text-decoration: none;
  text-align: center;
  width: 150px;
  height: 33px;
  line-height: 33px;
  border-radius: 9999px;
  margin: 1rem auto 0;
  font-family: 'Book Antiqua', arial;
}

.noEncuentras .ingresarButton:hover {
  background-color: var(--decorado2);
  color: var(--decorado);
}



/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Desktop View
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
/******************************** Sección de búsqueda *******************************/
@media screen and (min-width: 1000px) {
  .ayudaBuscar {
    background-image: none;
    position: relative;
    width: 100%;
    height: 490px;
  }

  .ayudaBuscar h1 {
    position: absolute;
    width: 26rem;
    text-align: left;
    font-family: 'Book Antiqua', arial;
    font-size: 35px;
    margin: 0;
    left: 15rem;
    top: 3rem;
  }

  .ayudaBuscar .buscaPropiedad {
    position: absolute;
    margin: 0;
    width: 312px;
    height: 355px;
    left: 48.1rem;
    top: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
  }

  .ayudaBuscar .buscaPropiedad .buscaPropiedad__titulo {
    margin: 0.5rem auto;
  }

  .ayudaBuscar .ayudaBuscar__img {
    display: block;
    position: absolute;
    object-fit: cover;
  }

  .ayudaBuscar .imagen1 {
    width: 876px;
    height: 315px;
    bottom: 0;
    left: 0;
  }

  .ayudaBuscar .imagen2 {
    width: 470px;
    height: 268px;
    top: 0;
    right: 0;
  }

  /******************************** Sección de botones *******************************/
  .menuEstados h2 {
    width: 50%;
    margin-left: 15rem;
  }
  
  .menuEstados .botonesEstados {
    width: 62.15%;
    margin: 0 15rem;
    justify-content: space-between;
  }
  
  .menuEstados .botonesEstados button {
    padding: 0 1rem;
    font-size: 17px;
    font-weight: 400;
  }
  
  .menuEstados .botonesEstados button:hover::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--decorado);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  /******************************** Sección de tarjetas *******************************/
  .propiedadesCards .propiedadesCards__cards {
    width: 75%;
    margin: 0 auto;
  }
  
  .propiedadesCards .propiedadesCards__cards ul .paginasCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  /*------------------------------------------------------- Tarjetas --------------------------------------*/
  .propiedadesCards .propiedadesCards__cards ul .paginasCards .cardInfo {
    width: 310px;
  }
  
  
  /******************************** Sección de no encuentras *******************************/
  .noEncuentras {
    background-color: var(--fondo1);
    height: 120px;
    display: flex;
    align-items: center;
  }
  
  .noEncuentras .texto h2 {
    width: 55%;
    margin: 0 15rem 0.5rem;
    padding-top: 0.5rem;
    text-align: left;
  }
  
  .noEncuentras .texto h2 span {
    color: var(--decorado);
  }
  
  .noEncuentras .texto p {
    width: 40%;
    margin: 0 15rem 0.5rem;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
  }
  
  .noEncuentras .ingresarButton {
    display: block;
    background-color: var(--decorado);
    color: var(--decorado2);
    text-decoration: none;
    text-align: center;
    width: 100px;
    height: 33px;
    line-height: 33px;
    border-radius: 9999px;
    margin: 1rem 16.7rem 0 0;
    font-size: 17px;
  }
  
  .noEncuentras .ingresarButton:hover {
    background-color: var(--decorado2);
    color: var(--decorado);
  }
}