/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://allfont.es/allfont.css?fonts=book-antiqua');
@font-face{
  font-family: "bodoni-mt";
  src:url("https://candyfonts.com/wp-data/2019/04/29/52473/BOD_R.TTF") format("woff"),
  url("https://candyfonts.com/wp-data/2019/04/29/52473/BOD_R.TTF") format("opentype"),
  url("https://candyfonts.com/wp-data/2019/04/29/52473/BOD_R.TTF") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Variables de color */
:root {
  --decorado: #bc9321;
  --decorado1: #a08a5a;
  --decorado2: #ffecb7;
  --decorado4: #907335;
  --fondo: #0b0020;
  --fondo1: #e6e6e6;
  --fondo2: #0b002099;
}

html {
  scroll-behavior: smooth;
}

/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Mobile View 
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
/*********************************** Sección de presentación ***********************************/
/* Imágen */
.presentacion .presentacion__img {
  width: 100%;
  position: relative;
}

.presentacion .presentacion__img img {
  display: block;
  width: 100%;
}

.presentacion .presentacion__img p {
  color: var(--decorado);
  background-color: #00000077;
  width: 17.5rem;
  height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
  position: absolute;
  right: 0;
  bottom: 1rem;
  font-family: "bodoni-mt";
}

/* Texto */
.presentacion .presentacion__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentacion .presentacion__texto h1 {
  font-family: 'Book Antiqua', arial;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
}

.presentacion .presentacion__texto h1 span {
  color: var(--decorado);
}

.presentacion .presentacion__texto p {
  width: 90%;
  text-align: center;
}

.presentacion .presentacion__texto a {
  display: block;
  margin: 1rem 0;
  width: 11rem;
  padding: 0.5rem 0;
  text-decoration: none;
  text-align: center;
  background-color: var(--decorado);
  color: #fff;
  border-radius: 9999px;
  font-size: 13px;
  font-family: 'Book Antiqua', arial;
}

.presentacion .presentacion__texto .comprar {
  margin-bottom: 0.1rem;
}

.presentacion .presentacion__texto a span {
  font-size: 18px;
}

/*********************************** Sección de ¿Quiénes somos? ***********************************/
.quienesSomos {
  background-color: var(--fondo1);
  margin-top: 1rem;
}

.quienesSomos .quienesSomos__titulo h2 {
  background-color: var(--fondo);
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 31px;
  padding: 1.5rem 0;
}

.quienesSomos .quienesSomos__texto {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}

.quienesSomos .quienesSomos__texto p {
  margin: 1rem 0;
}

.quienesSomos .quienesSomos__texto .marginBottomP {
  padding-bottom: 1.5rem;
}

/*********************************** Sección de Proyectos y desarrollos ***********************************/
.proyeDesa h2{
  text-align: center;
  color: var(--decorado);
  font-weight: 400;
  margin: 1rem 0;
  font-size: 31px;
  font-family: 'Open Sans', sans-serif;
}

/* Slider en celular */
.proyeDesa .container__slider {
  width: 95%;
  margin: 0 auto 1.75rem;
  overflow: hidden;
  position: relative;
}

.proyeDesa .container__slider .slider {
  display: flex;
  width: 2200%; /* Depende del número de imágenes x * 100% */
  height: 15rem;
  margin-left: -100%;  /* Ayuda a enfocar la segunda imagen que en realidad es la primera */
}

.proyeDesa .container__slider .slider .slider__section {
  width: 100%;
}

.proyeDesa .container__slider .slider .slider__section a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.proyeDesa .container__slider .slider .slider__section a .slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proyeDesa .container__slider .slider .slider__section a p {
  color: #00000099;
  width: 100%;
  font-weight: bold;
  padding: 0.15rem 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.proyeDesa .container__slider .slider .slider__section a .textoDerecha {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(179,179,179,1) 100%);
  text-align: right;
  padding-right: 1rem;
}

.proyeDesa .container__slider .slider .slider__section a .textoIzquierda {
  background: rgb(179,179,179);
  background: linear-gradient(90deg, rgba(179,179,179,1) 0%, rgba(255,255,255,0) 100%);
  padding-left: 1rem;
}

.proyeDesa .container__slider .slider__btn {
  width: 60px;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.proyeDesa .container__slider .slider__btn span {
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--fondo2);
  color: var(--decorado);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.proyeDesa .container__slider .slider__btn span:hover {
  background-color: #fff;
}

.proyeDesa .container__slider .slider__btn--left {
  left: 0;
}

.proyeDesa .container__slider .slider__btn--right {
  right: 0;
}



/*********************************** Sección de Socios estratégicos ***********************************/
.alianzas {
  background-color: var(--fondo1);
  margin: 1rem 0;
}

.alianzas h2 {
  font-weight: 400;
  text-align: center;
  color: var(--decorado);
  font-size: 31px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

/* Slider en celular */
.alianzas .container__slider1 {
  position: relative;
  width: 100%;
  height: 10rem;
  margin-bottom: 1rem;
}

.alianzas .container__slider1 .slider__btn1 {
  background-color: var(--fondo1);
  width: 15%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alianzas .container__slider1 .slider__btn1 span {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  color: var(--decorado);
  font-size: 2rem;
  font-family: monospace;
  cursor: pointer;
}

.alianzas .container__slider1 .slider__btn1 span:hover {
  background-color: #cfcfcf;
}

.alianzas .container__slider1 .slider__btn--left1 {
  left: 0;
}

.alianzas .container__slider1 .slider__btn--right1 {
  right: 0;
}

.alianzas .container__slider1 .sliderImg {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 15%;
  overflow: hidden;
}

.alianzas .container__slider1 .sliderImg .slider1 {
  display: flex;
  width: 550%; /* Depende del número de imágenes x * 50% */
  height: 10rem;
  margin-left: -50%;  /* Ayuda a enfocar la segunda imagen que en realidad es la primera */
}

.alianzas .container__slider1 .sliderImg .slider1 .slider__section1 {
  width: 50%;
}

.alianzas .container__slider1 .sliderImg .slider1 .slider__section1 .slider__img1 {
  display: block;
  width: 90%;
  height: 100%;
  object-fit: contain;
  margin: auto;
}

/* anchos de cada imagen */
.alianzas .container__slider1 .sliderImg .slider1 .slider__section1 .century,
.alianzas .container__slider1 .sliderImg .slider1 .slider__section1 .localty,
.alianzas .container__slider1 .sliderImg .slider1 .slider__section1 .legan,
.alianzas .container__slider1 .sliderImg .slider1 .slider__section1 .creditaria {
  width: 58%;
}

.alianzas .container__slider1 .sliderImg .slider1 .slider__section1 .deca {
  width: 37.5%;
}

.alianzas .container__slider1 .sliderImg .slider1 .slider__section1 .dreams {
  width: 85%;
}

.alianzas .container__slider1 .sliderImg .slider1 .slider__section1 .lezgo {
  width: 42.5%;
}

.alianzas .container__slider1 .sliderImg .slider1 .slider__section1 .lopez {
  width: 75%;
}



.alianzas .alianzas__texto {
  background-color: #b3b3b3;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alianzas .alianzas__texto p {
  text-align: center;
  width: 95%;
  font-family: 'Montserrat', sans-serif;
}

.alianzas .alianzas__texto p span {
  color: var(--decorado);
}

/*********************************** Sección de ubicación y contacto ***********************************/
/* Título */
.ubicaCont h2 {
  text-align: center;
  color: var(--decorado);
  font-size: 31px;
  font-family: 'Open Sans', sans-serif;
}

/* Mapa */
.ubicaCont .ubicaCont__mapa {
  width: 95%;
  height: 15rem;
  margin: 1rem auto;
  border: 1px solid #000;
  overflow: hidden;
}

.ubicaCont .ubicaCont__mapa iframe {
  width: 100%;
  height: 100%;
}

/* Formulario */
.ubicaCont form {
  background-color: #fff;
  width: 95%;
  height: 37rem;
  margin: 1rem auto;
  border: 1px solid #b3b3b3;
}

.ubicaCont form h3 {
  text-align: center;
  padding: 1rem 0;
}

.ubicaCont form input {
  display: block;
  width: 90%;
  margin: 1rem auto;
  outline: none;
  border: 1px solid var(--decorado);
  border-radius: 10px;
  padding: 0.5rem;
}

.ubicaCont form input[type="checkbox"] {
  display: inline;
  width: auto;
}

.ubicaCont form input[type=number]::-webkit-inner-spin-button,
.ubicaCont form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ubicaCont form input[type=number] { 
  -moz-appearance:textfield; 
}

.ubicaCont form textarea {
  display: block;
  width: 90%;
  height: 10rem;
  margin: 1rem auto;
  resize: none;
  outline: none;
  border: 1px solid var(--decorado);
  border-radius: 10px;
  padding: 0.5rem;
}

.ubicaCont form .politicaTerminos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.ubicaCont form p {
  width: 92%;
  margin: 1rem auto;
  font-size: 0.9rem;
}

.ubicaCont form p a {
  text-decoration: none;
  color: var(--decorado);
}

.ubicaCont form button {
  display: block;
  margin: 1.5rem auto;
  padding: 0.5rem 2.25rem;
  background-color: var(--decorado);
  color: var(--decorado2);
  border: 2px solid var(--decorado);
  outline: none;
  border-radius: 9999px;
  cursor: pointer;
}

.ubicaCont form button:hover {
  background-color: var(--decorado2);
  color: var(--decorado);
}

/* Contacto */
.ubicaCont .ubicaCont__datos {
  width: 95%;
  margin: 0 auto;
}

.ubicaCont .ubicaCont__datos h3 {
  padding: 0.5rem 1rem;
  color: var(--decorado);
}

.ubicaCont .ubicaCont__datos a {
  text-decoration: none;
  display: block;
  color: var(--fondo);
  text-align: justify;
  width: 95%;
  margin: 1rem auto;
}

.ubicaCont .ubicaCont__datos .correo {
  padding-bottom: 1rem;
  margin: 1rem auto 0;
}

.ubicaCont .ubicaCont__datos a span {
  color: var(--decorado);
}

/********************************************* Footer *********************************************/
footer {
  background-color: var(--fondo);
}

footer .footer__logo {
  width: 6.5rem;
  height: 6.5rem;
  margin: 0 auto;
  padding-top: 1rem;
}

footer .footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

footer .footer__texto {
  margin: 1rem;
  color: #fff;
  text-align: center;
}

footer .footer__texto a {
  color: #fff;
  text-decoration: none;
}

footer .footer__texto a:hover {
  color: var(--decorado);
}

footer .footer__texto p {
  font-size: 0.75rem;
}

footer .footer__redes {
  display: flex;
  justify-content: space-around;
}

footer .footer__redes a {
  background-color: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-decoration: none;
  margin-bottom: 1rem;
}

footer .footer__redes a:hover {
  background-color: var(--decorado);
}

footer .footer__redes a i {
  color: var(--decorado);
}

footer .footer__redes a:hover i {
  color: #b3b3b3;
}



/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  iPad View
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
@media screen and (min-width: 768px) {
  /*********************************** Sección de Proyectos y desarrollos ***********************************/
  /* Slider en iPad */
  .proyeDesa .container__slider {
    width: 100%;
    margin: auto;
  }

  .proyeDesa .container__slider .slider {
    width: 733.26%; /* Depende del número de imágenes x * 33.33% */
    height: 11rem;
    margin-left: -33.33%;  /* Ayuda a enfocar la segunda imagen que en realidad es la primera */
  }

  .proyeDesa .container__slider .slider .slider__section {
    width: 33.33%;
  }

  .proyeDesa .container__slider .slider .slider__section a {
    width: 90%;
    margin: 0 auto;
  }

  .proyeDesa .container__slider .slider__btn {
    width: 33.33%;
  }

  /*********************************** Sección de Socios estratégicos ***********************************/
  /* Slider en iPad y PC */
  .alianzas .container__slider1 {
    height: 11rem;
  }

  .alianzas .container__slider1 .sliderImg .slider1 {
    width: 275%; /* Depende del número de imágenes x * 25% */
    height: 11rem;
    margin-left: -25%;  /* Ayuda a enfocar la segunda imagen que en realidad es la primera */
  }

  .alianzas .container__slider1 .sliderImg .slider1 .slider__section1 {
    width: 25%;
  }

  /*********************************** Sección de ubicación y contacto ***********************************/
  /* Formulario */
  .ubicaCont form {
    width: 50%;
  }
}



/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Desktop View
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
@media screen and (min-width: 1000px) {
  /*********************************** Sección de presentación ***********************************/
  .presentacion {
    display: flex;
    flex-direction: row-reverse;
  }

  .presentacion .presentacion__img {
    width: 50%;
  }

  .presentacion .presentacion__img p {
    font-size: 3rem;
    width: 31rem;
    height: 4.5rem;
    line-height: 4.5rem;
  }

  .presentacion .presentacion__texto {
    width: 50%;
    justify-content: center;
  }

  .presentacion .presentacion__texto h1 {
    text-align: left;
    font-weight: bold;
    width: 450px;
    margin-left: 23.5%;
  }

  .presentacion .presentacion__texto h1 span {
    font-size: 32px;
  }

  .presentacion .presentacion__texto p {
    width: 370px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.4rem;
    margin-left: 1.75%;
    text-align: left;
  }

  .presentacion .presentacion__texto a {
    padding: 0.3rem 0;
    margin: 0.5rem auto;
  }

  .presentacion .presentacion__texto .comprar {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  /*********************************** Sección de ¿Quiénes somos? ***********************************/
  .quienesSomos {
    display: flex;
    align-items: center;
    width: 100%;
    height: 315px;
    margin-top: 0;
  }

  .quienesSomos .quienesSomos__titulo {
    width: 45%;
    height: 137px;
    display: flex;
    align-items: center;
  }

  .quienesSomos .quienesSomos__titulo h2 {
    width: 100%;
    height: 137px;
    line-height: 137px;
    font-size: 38px;
    text-align: right;
    padding: 0 3.25rem 0 0;
  }

  .quienesSomos .quienesSomos__texto {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .quienesSomos .quienesSomos__texto p {
    width: 31rem;
    text-align: center;
    margin: 0.35rem 0 0.35rem 3rem;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .quienesSomos .quienesSomos__texto .marginBottomP {
    padding-bottom: 0;
  }

  /*********************************** Sección de Proyectos y desarrollos ***********************************/
  .proyeDesa {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Slider en PC */
  .proyeDesa .container__slider .slider {
    height: 17rem;
  }

  /*********************************** Sección de Socios estratégicos ***********************************/
  .alianzas {
    margin-top: 2rem;
  }

  .alianzas .alianzas__texto {
    height: 7rem;
  }

  .alianzas .alianzas__texto p {
    width: 55%;
    font-size: 30px;
  }

  /*********************************** Sección de ubicación y contacto ***********************************/
  .ubicaCont {
    height: 505px;
    position: relative;
  }
  
  .ubicaCont h2 {
    text-align: left;
    margin: 1.5rem 16rem;
  }

  .ubicaCont .ubicaCont__mapa {
    width: 100%;
    height: 298px;
  }

  .ubicaCont form {
    width: 312px;
    height: 410px;
    position: absolute;
    top: 3rem;
    right: 10.8rem;
    z-index: 5;
  }

  .ubicaCont form h3 {
    margin: 1.2rem 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .ubicaCont form input {
    width: 266px;
    height: 26px;
    padding: 0 0.6rem;
    margin: 0.55rem auto;
  }

  .ubicaCont form input::placeholder,
  .ubicaCont form textarea::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: #00000055;
  }
  
  .ubicaCont form textarea {
    width: 266px;
    height: 140px;
    padding: 0.25rem 0.6rem;
    margin: 0.55rem auto;
  }

  .ubicaCont form p {
    width: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11px;
    margin: 0;
  }

  .ubicaCont form .politicaTerminos input[type="checkbox"] {
    margin: 0.5rem 0.3rem 0.5rem 0;
  }

  .ubicaCont form button {
    display: block;
    font-family: 'Book Antiqua', arial;
    font-size: 14px;
    height: 26px;
    width: 100px;
    padding: 0;
    margin: 0.25rem auto;
  }

  /* Contacto */
  .ubicaCont .ubicaCont__datos {
    height: 10rem;
  }

  .ubicaCont .ubicaCont__datos h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0.75rem 8rem 0;
  }

  .ubicaCont .ubicaCont__datos .direction {
    display: block;
    width: 87%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 8rem;
  }

  .ubicaCont .ubicaCont__datos div {
    width: 65%;
    margin: 1.6rem 8rem 0;
  }

  .ubicaCont .ubicaCont__datos a {
    display: inline-block;
    margin: 0.25rem auto;
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  .ubicaCont .ubicaCont__datos a span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

  .ubicaCont .ubicaCont__datos .correo {
    padding: 0;
    margin: 0;
    width: 35%;
  }

  /********************************************* Footer *********************************************/
  footer {
    background-color: var(--fondo);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
  }

  footer .footer__logo {
    width: 77px;
    height: 77px;
    margin: 0 0 0 7.75rem;
    padding: 0;
  }

  footer .footer__texto {
    margin: 1rem 0 0 16.1rem;
  }

  footer .footer__texto a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }

  footer .footer__texto p {
    font-size: 10px;
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  footer .footer__redes {
    width: 22.5rem;
    margin-right: 6.9rem;
    justify-content: flex-end;
  }

  footer .footer__redes a {
    width: 38px;
    height: 38px;
    margin-bottom: 0;
    margin-right: 1rem;
  }

  footer .footer__redes a i {
    color: var(--decorado);
  }
}