/* Variables de color */
:root {
  --decorado: #bc9321;
  --decorado1: #a08a5a;
  --decorado2: #ffecb7;
  --decorado4: #907335;
  --fondo: #0b0020;
  --fondo1: #e6e6e6;
}

html {
  scroll-behavior: smooth;
}

/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Mobile View 
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
/*********************************** Sección de presentación ***********************************/
/* Imágen */
.presentacion .presentacion__img {
  width: 100%;
}

.presentacion .presentacion__img img {
  display: block;
  width: 100%;
}

.presentacion .presentacion__img p {
  color: var(--decorado);
  background-color: #00000077;
  width: 17.5rem;
  height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
  position: absolute;
  right: 0;
  top: 13rem;
}

/* Texto */
.presentacion .presentacion__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentacion .presentacion__texto h1 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.presentacion .presentacion__texto h1 span {
  color: var(--decorado);
}

.presentacion .presentacion__texto p {
  width: 90%;
}

.presentacion .presentacion__texto a {
  display: block;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: var(--decorado);
  color: #fff;
  border-radius: 9999px;
  font-size: 1rem;
}

.presentacion .presentacion__texto a span {
  font-size: 1.5rem;
}

/*********************************** Sección de ¿Quiénes somos? ***********************************/
.quienesSomos {
  background-color: var(--fondo1);
}

.quienesSomos .quienesSomos__titulo h2 {
  background-color: var(--fondo);
  text-align: center;
  color: #fff;
}

.quienesSomos .quienesSomos__texto {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}

.quienesSomos .quienesSomos__texto p {
  margin: 1rem 0;
}

/*********************************** Sección de Proyectos y desarrollos ***********************************/
.proyeDesa {
  background-color: #90733577;/* Quitar al final */
}

.proyeDesa h2{
  background-color: #e6e6e655;/* Quitar al final */
  text-align: center;
  color: var(--decorado);
  font-weight: 400;
  margin: 1rem 0;
}

.proyeDesa .proyeDesa__cards {
  background-color: #ff000055;/* Quitar al final */
  width: 100%;
  height: 12.5rem;
}

/*********************************** Sección de Socios estratégicos ***********************************/
.alianzas {
  background-color: var(--fondo1);
  margin: 1rem 0;
}

.alianzas h2 {
  font-weight: 400;
  text-align: center;
  color: var(--decorado);
}

.alianzas .alianzas__logos button {
  display: none;
}

.alianzas .alianzas__logos ul li {
  width: 100%;
  list-style: none;
}

.alianzas .alianzas__logos ul li div {
  width: 95%;
  height: 12rem;
  margin: 1rem auto;
}

.alianzas .alianzas__logos ul li div img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.alianzas .alianzas__texto {
  background-color: #b3b3b3;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alianzas .alianzas__texto p {
  text-align: center;
  width: 95%;
}

.alianzas .alianzas__texto p span {
  color: var(--decorado);
}

/*********************************** Sección de ubicación y contacto ***********************************/
/* Título */
.ubicaCont h2 {
  text-align: center;
  color: var(--decorado);
}

/* Mapa */
.ubicaCont .ubicaCont__mapa {
  width: 95%;
  height: 15rem;
  margin: 1rem auto;
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
}

.ubicaCont .ubicaCont__mapa iframe {
  width: 100%;
  height: 100%;
}

/* Formulario */
.ubicaCont form {
  background-color: #fff;
  width: 95%;
  height: 41rem;
  margin: 1rem auto;
  border: 1px solid #b3b3b3;
}

.ubicaCont form h3 {
  text-align: center;
  padding: 1rem 0;
}

.ubicaCont form label {
  display: block;
  width: 95%;
  margin: 0.5rem auto;
  border: 2px solid var(--decorado);
  border-radius: 10px;
  overflow: hidden;
  padding: 0.25rem;
}

.ubicaCont form label input {
  width: 100%;
  outline: none;
  border: 0;
  padding: 0.5rem;
}

.ubicaCont form label textarea {
  display: block;
  width: 100%;
  height: 10rem;
  resize: none;
  outline: none;
  border: 0;
  padding: 0.5rem;
}

.ubicaCont form p {
  width: 90%;
  margin: 1rem auto;
}

.ubicaCont form p a {
  text-decoration: none;
  color: var(--decorado);
}

.ubicaCont form button {
  display: block;
  margin: 1.5rem auto;
  padding: 0.5rem 2.25rem;
  background-color: var(--decorado);
  color: var(--decorado2);
  border: 2px solid var(--decorado);
  outline: none;
  border-radius: 9999px;
  cursor: pointer;
}

.ubicaCont form button:hover {
  background-color: var(--decorado2);
  color: var(--decorado);
}

/* Contacto */
.ubicaCont .ubicaCont__datos {
  width: 95%;
  margin: 0 auto;
}

.ubicaCont .ubicaCont__datos h3 {
  padding: 0.5rem 1rem;
  color: var(--decorado);
}

.ubicaCont .ubicaCont__datos a {
  text-decoration: none;
  display: block;
  color: var(--fondo);
  text-align: justify;
  width: 95%;
  margin: 1rem auto;
}

.ubicaCont .ubicaCont__datos .correo {
  padding-bottom: 1rem;
  margin: 1rem auto 0;
}

.ubicaCont .ubicaCont__datos a span {
  color: var(--decorado);
}

/********************************************* Footer *********************************************/
footer {
  background-color: var(--fondo);
}

footer .footer__logo {
  width: 7.5rem;
  height: 7.5rem;
  margin: 0 auto;
}

footer .footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

footer .footer__texto {
  margin: 1rem;
  color: #fff;
  text-align: center;
}

footer .footer__texto a {
  color: #fff;
  text-decoration: none;
}

footer .footer__texto p {
  font-size: 0.75rem;
}

footer .footer__redes {
  display: flex;
  justify-content: space-around;
}

footer .footer__redes a {
  background-color: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-decoration: none;
  margin-bottom: 1rem;
}

footer .footer__redes a:hover {
  background-color: var(--decorado);
}

footer .footer__redes a i {
  color: var(--decorado);
}

footer .footer__redes a:hover i {
  color: #b3b3b3;
}

/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Desktop View
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
@media screen and (min-width: 1000px) {
  /*********************************** Sección de presentación ***********************************/
  .presentacion {
    display: flex;
    flex-direction: row-reverse;
  }

  .presentacion .presentacion__img {
    width: 50%;
  }

  .presentacion .presentacion__img p {
    font-size: 3rem;
    width: 31rem;
    height: 4.5rem;
    line-height: 4.5rem;
    top: 25rem;
  }

  .presentacion .presentacion__texto {
    width: 50%;
    justify-content: center;
  }

  .presentacion .presentacion__texto h1 {
    text-align: left;
    width: 26rem;
    font-size: 2.1rem;
  }

  .presentacion .presentacion__texto h1 span {
    font-size: 2.5rem;
  }

  .presentacion .presentacion__texto p {
    width: 26rem;
  }

  .presentacion .presentacion__texto .comprar {
    margin-top: 5rem;
  }

  /*********************************** Sección de ¿Quiénes somos? ***********************************/
  .quienesSomos {
    display: flex;
    width: 100%;
    height: 20rem;
  }

  .quienesSomos .quienesSomos__titulo {
    width: 40%;
    display: flex;
    align-items: center;
  }

  .quienesSomos .quienesSomos__titulo h2 {
    width: 100%;
    height: 8rem;
    line-height: 8rem;
    font-size: 2.75rem;
    text-align: right;
    padding-right: 3rem;
  }

  .quienesSomos .quienesSomos__texto {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .quienesSomos .quienesSomos__texto p {
    width: 80%;
    text-align: center;
  }

  /*********************************** Sección de Proyectos y desarrollos ***********************************/
  .proyeDesa .proyeDesa__cards {
    height: 15rem;
  }

  /*********************************** Sección de Socios estratégicos ***********************************/
  .alianzas {
    width: 95%;
    margin: 0 auto;
  }
  
  .alianzas .alianzas__logos {
    width: 95%;
    margin: 0 auto;
    display: flex;
  }
  
  .alianzas .alianzas__logos button {
    background-color: var(--fondo1);
    display: block;
    width: 20%;
    border: 0;
    color: var(--decorado);
    cursor: pointer;
  }

  .alianzas .alianzas__logos ul {
    width: 60%;
  }
  
  .alianzas .alianzas__logos ul li {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .alianzas .alianzas__logos ul li div {
    width: 22.5%;
    height: 12rem;
  }

  .alianzas .alianzas__texto {
    height: 7rem;
  }

  .alianzas .alianzas__texto p {
    width: 40%;
    font-size: 1.5rem;
  }

  /*********************************** Sección de ubicación y contacto ***********************************/
  .ubicaCont {
    height: 36rem;
  }
  
  .ubicaCont h2 {
    text-align: left;
    margin: 1rem 23rem;
  }

  .ubicaCont .ubicaCont__mapa {
    height: 20rem;
  }

  .ubicaCont form {
    width: 22.5rem;
    height: 31rem;
    position: absolute;
    top: 112rem;
    left: 65%;
    z-index: 5;
  }

  .ubicaCont form h3 {
    padding: 0.25rem 0;
    font-weight: 400;
  }

  .ubicaCont form label {
    width: 95%;
    /* border: 2px solid var(--decorado);
    border-radius: 10px; */
    overflow: hidden;
  }

  .ubicaCont form label input {
    width: 75%;
    padding: 0.2rem 0.5rem;
  }

  .ubicaCont form label textarea {
    height: 7.5rem;
  }

  /* Contacto */
  .ubicaCont .ubicaCont__datos {
    height: 10rem;
  }

  .ubicaCont .ubicaCont__datos h3 {
    padding: 0.1rem 2rem;
  }

  .ubicaCont .ubicaCont__datos div {
    width: 70%;
    margin: 2.75rem 2rem 0;
  }

  .ubicaCont .ubicaCont__datos .direction {
    display: block;
    width: 95%;
  }

  .ubicaCont .ubicaCont__datos a {
    display: inline-block;
    margin: 0.25rem auto;
    width: 25%;
  }

  .ubicaCont .ubicaCont__datos .correo {
    padding: 0;
    margin: 0;
    width: 35%;
  }

  /********************************************* Footer *********************************************/
  footer {
    background-color: var(--fondo);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  footer .footer__logo {
    margin: 0;
  }

  footer .footer__texto {
    margin: 0 0 0 10rem;
  }

  footer .footer__texto a {
    color: #fff;
    text-decoration: none;
    font-size: 1.75rem;
  }

  footer .footer__texto p {
    font-size: 0.75rem;
    margin-top: 1rem;
  }

  footer .footer__redes {
    width: 22.5rem;
  }

  footer .footer__redes a {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0;
  }

  footer .footer__redes a i {
    color: var(--decorado);
  }
}