/* Fuentes */
@import url(https://allfont.es/allfont.css?fonts=book-antiqua);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Variables de color */
:root {
  --decorado: #bc9321;
  --decorado1: #a08a5a;
  --decorado2: #ffecb7;
  --decorado4: #907335;
  --fondo: #0b0020;
  --fondo1: #e6e6e6;
  --fondo2: #b3b3b3;
}

html {
  scroll-behavior: smooth;
}

/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Mobile View 
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
/*********************************** Indicador ***********************************/
.indicador {
  width: 100%;
  height: 10px;
  background-color: var(--fondo);
}

/*********************************** Sección de formulario ***********************************/
.formulario {
background-color: var(--fondo1);
}

.formulario h1 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
}

.formulario h1 span {
  color: var(--decorado);
}

/* Imágenes */
.formulario .imgCelular {
  display: block;
  width: 90%;
  margin: 2rem auto;
}

.formulario .imgPc {
  display: none;
}

/* Formulario */
.formulario form {
  width: 90%;
  margin: 0 auto;
}

.formulario form .presupuestoInputs p {
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  font-size: 1rem;
}

.formulario form .presupuestoInputs p span {
  color: var(--decorado);
}

.formulario form .contactoInputs p {
  font-size: 1rem;
}

.formulario form .presupuestoInputs .maxMin {
  display: flex;
  justify-content: space-between;
}

.formulario form .presupuestoInputs .maxMin .adicionalesPropiedad {
  width: 48%;
  margin-bottom: 0;
}

.formulario form input[type="text"],
.formulario form input[type="number"],
.formulario form input[type="email"],
.formulario form select,
.formulario form details,
.formulario form textarea {
  background-color: #fff;
  display: block;
  width: 100%;
  height: 30px;
  outline: none;
  border: 1px solid var(--decorado);
  border-radius: 10px;
  padding-left: 0.25rem;
  margin: 0.75rem 0;
}

.formulario form input[type=number]::-webkit-inner-spin-button,
.formulario form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formulario form input[type=number] { 
  -moz-appearance:textfield; 
}

.formulario form details {
  height: auto;
  overflow: hidden;
}

#otrosEspecifica {
  border: 0;
}

.formulario form textarea {
  height: 10rem;
  resize: none;
  padding: 0.5rem 0.25rem;
}

.formulario form .presupuestoInputs select,
.formulario form details .placeholderText {
  color: #00000088;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  padding-left: 0;
}

::placeholder {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

.formulario form details .placeholderText {
  padding: 0.3rem 0;
}

/* Términos y condiciones y Políticas de privacidad */
.formulario form .politicaTerminos {
  width: 266px;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 0.9375rem 0;
}

.formulario form .politicaTerminos p {
  background-color: var(--fondo1);
  border: 0;
  border-radius: 0;
  color: #000;
  width: 100%;
  height: auto;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 11px;
  margin-left: 0.5rem;
}

.formulario form .politicaTerminos p a {
  color: var(--decorado);
  text-decoration: none;
}

.formulario form button {
  background-color: var(--decorado);
  display: block;
  width: 8rem;
  padding: 0.25rem 0;
  outline: none;
  border: 0;
  cursor: pointer;
  color: var(--decorado2);
  border-radius: 9999px;
  font-family: 'Book Antiqua', arial;
  font-size: 17px;
  margin: 1rem auto 0;
}

.formulario form button:hover {
  background-color: var(--decorado2);
  color: var(--decorado);
}

.formulario form .marBottom {
  width: 100%;
  height: 0.9375rem;
}



/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Desktop View
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
@media screen and (min-width: 1000px) {
  /*********************************** Sección de formulario ***********************************/
  .formulario {
    width: 100%;
    height: 490px;
  }

  .formulario h1 {
    padding: 2rem 0 2.1rem;
  }

  /* Imágenes */
  .formulario .imgCelular {
    display: none;
  }

  .formulario .imgPc {
    display: block;
    width: 300px;
    height: auto;
  }
  
  /* Formulario */
  .formulario form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .formulario form .presupuestoInputs p {
    margin: 0 auto;
  }

  .formulario form .presupuestoInputs .maxMin {
    margin-top: 0;
  }

  .formulario form input[type="text"],
  .formulario form input[type="number"],
  .formulario form input[type="email"],
  .formulario form select,
  .formulario form details,
  .formulario form textarea {
    width: 266px;
  }

  .formulario form .presupuestoInputs input[type="text"],
  .formulario form .presupuestoInputs input[type="number"],
  .formulario form .presupuestoInputs select,
  .formulario form .presupuestoInputs details,
  .formulario form .presupuestoInputs textarea {
    margin: 0.9375rem 0;
  }

  .formulario form .contactoInputs input[type="text"],
  .formulario form .contactoInputs input[type="number"],
  .formulario form .contactoInputs input[type="email"],
  .formulario form .contactoInputs textarea {
    margin: 0.9375rem 0;
  }

  .formulario form .contactoInputs input[type="text"] {
    margin-top: 0;
  }

  .formulario form .contactoInputs textarea {
    height: 7.5rem;
  }

  .formulario form .presupuestoInputs .adicionalesPropiedad {
    margin-top: 0;
  }

  .formulario form .presupuestoInputs {
    margin-left: 12.5rem;
  }

  .formulario form .contactoInputs {
    margin-right: 12.5rem;
  }

  .formulario form .marBottom {
    display: none;
  }
}