/* Variables de color */
:root {
  --decorado: #bc9321;
  --decorado1: #a08a5a;
  --decorado2: #ffecb7;
  --decorado4: #907335;
  --fondo: #0b0020;
  --fondo1: #e6e6e6;
  --fondo2: #b3b3b3;
}

html {
  scroll-behavior: smooth;
}

/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Mobile View 
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
/*********************************** Sección de pasos ***********************************/
.pasos h1 {
  text-align: center;
  margin: 0.5rem 0;
}

.pasos h1 span {
  color: var(--decorado);
}

.pasos .pasos__texto p {
  margin: 0.5rem 0;
  text-align: center;
}

.pasos .pasos__texto p span {
  background-color: var(--fondo2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem auto;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 50%;
}

/*********************************** Sección de formulario ***********************************/
.formulario {
  width: 100%;
  background-color: var(--fondo1);
}

.formulario .indicador {
  display: flex;
}

.formulario .indicador span {
  display: block;
  background-color: var(--fondo);
  height: 1rem;
  transition: 1s;
}

/* Formulario */
.formulario form {
  overflow: hidden;
  width: 100%;
}

/* Estilos de lista del formulario */
.formulario form ul {
  display: flex;
  width: 400%;
  transition: 0.75s;
}

.formulario form ul li {
  list-style: none;
  width: 100%;
}

/* Imágenes formulario */
.formulario form ul li div img {
  display: block;
  width: 95%;
  margin: 1rem auto;
}

/* Decorados texto */
.formulario form ul li p span,
.formulario form ul li h2 span {
  color: var(--decorado);
}

.formulario form ul li p .numero {
  font-size: 2rem;
}

/* Decorados inputs */
.formulario form ul li div .inputs input[type="text"],
.formulario form ul li div .inputs input[type="number"],
.formulario form ul li div .inputs input[type="email"],
.formulario form ul li div .inputs select,
.formulario form ul li div .inputs details {
  display: block;
  width: 95%;
  height: 38px;
  margin: 1rem auto;
  padding-left: 0.25rem;
  outline: none;
  border: 2px solid var(--decorado);
  border-radius: 10px;
}

.formulario form ul li div .inputs details {
  height: auto;
  padding: 0;
  overflow: hidden;
}

.formulario form ul li div .inputs select,
.formulario form ul li div .inputs details summary {
  background-color: #fff;
  color: #00000088;
}

.formulario form ul li div .inputs details summary {
  width: 100%;
  height: 100%;
  padding: 0.35rem 0 0.35rem 0.25rem;
}

/* Quita las reglas del la lista de cada parte del formulario */
.formulario form ul li div .inputs  ul {
  display: block;
  width: 100%;
  margin: 0;
}

.formulario form ul li div .inputs  ul li {
  background-color: #fff;
}

.formulario form ul li div .inputs  ul li input[type="checkbox"] {
  margin: 0.25rem 0  0.25rem 1.5rem;
}

.formulario form ul li div .inputs .pisoPropiedad::placeholder {
  font-size: 1.15rem;
}

/* Textos y títulos de cada sección */
.formulario form ul li p,
.formulario form ul li h2 {
  width: 95%;
  margin: 0 auto;
}
/* Sección 1 */
.formulario form ul .seccionUno div .inputs .pregunta {
  text-align: center;
}

/* Sección 2, 3 y 4 -> inputs con texto a un lado */
.formulario form ul .seccionDos div .inputs p,
.formulario form ul .seccionTres div .inputs p,
.formulario form ul .seccionCuatro div .inputs p {
  background-color: #fff;
  width: 95%;
  height: 38px;
  border: 2px solid var(--decorado);
  border-radius: 10px;
  color: var(--decorado);
  text-align: center;
}

.formulario form ul .seccionDos div .inputs p input[type="number"],
.formulario form ul .seccionTres div .inputs p input[type="text"],
.formulario form ul .seccionCuatro div .inputs p input[type="text"] {
  display: inline-block;
  border: 0;
  margin: 0;
  width: 90%;
  height: 100%;
}

.formulario form ul .seccionTres div .inputs p input[type="text"],
.formulario form ul .seccionCuatro div .inputs p input[type="text"] {
  width: 80%;
}

/* Sección 3 */
.formulario form ul .seccionTres .instruccion {
  margin: 1rem auto;
}

#otrosEspecifica {
  width: 90%;
  margin: 0 auto;
  border: 0;
}

/* Sección 4 */
/* Términos y condiciones y Políticas de privacidad */
.formulario form ul .seccionCuatro div .inputs .politicaTerminos {
  width: 95%;
  height: auto;
  margin: 2rem auto;
  display: flex;
  align-items: center;
}

.formulario form ul .seccionCuatro div .inputs .politicaTerminos p {
  background-color: var(--fondo1);
  border: 0;
  border-radius: 0;
  color: #000;
  width: 90%;
  height: auto;
  text-align: left;
  font-size: 1.14rem;
}

.formulario form ul .seccionCuatro div .inputs .politicaTerminos p a {
  color: var(--decorado);
  text-decoration: none;
}

/* Botones */
.formulario form .buttonsForm {
  display: flex;
  height: 3.5rem;
  justify-content: space-evenly;
  align-items: center;
}

.formulario form .buttonsForm button {
  background-color: var(--decorado);
  display: block;
  width: 8rem;
  padding: 0.25rem 0;
  outline: none;
  border: 0;
  cursor: pointer;
  color: var(--decorado2);
  border-radius: 9999px;
}

/*********************************** Sección footer ***********************************/
footer {
  background-color: var(--fondo);
}

/* Se verá hasta la vista en PC */
footer .logoPc {
  display: none;
}

/* links a dirección, correo y teléfonos */
footer .info {
  width: 95%;
  margin: 0 auto;
}

footer .info a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: justify;
  padding: 0.5rem 0;
}

footer .info a:hover {
  color: var(--fondo2);
}

footer .info a span {
  color: var(--decorado);
}

/* Links a redes */
footer .redes {
  width: 95%;
  margin: 0 auto;
}

footer .redes .footer__redes {
  display: flex;
  justify-content: space-around;
}

footer .redes .footer__redes a {
  background-color: var(--fondo2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  text-decoration: none;
  color: var(--decorado);
}

footer .redes .footer__redes a:hover {
  background-color: var(--decorado);
  color: var(--fondo2);
}

/* Aviso de privacidad */
footer .redes .aviso {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem 0;
  color: #fff;
}

footer .redes .aviso:hover {
  color: var(--fondo2);
}

/* Logo en celular */
footer .logoCel {
  width: 95%;
  margin: 0 auto;
}

footer .logoCel img {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 0;
  width: 50%;
}

footer .logoCel p {
  font-size: 0.9rem;
  text-align: center;
  padding: 0 0 1rem;
}

/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Desktop View
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
@media screen and (min-width: 1000px) {
  .pasos .pasos__texto {
    display: flex;
    justify-content: space-evenly;
    width: 60rem;
    margin: 0 auto;
  }

  /*********************************** Sección de formulario ***********************************/
  .formulario form ul li p,
  .formulario form ul li h2 {
    margin: 1rem 11.5rem;
  }

  .formulario form ul li div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  /* Margenes del div de cada sección */
  .formulario form ul .seccionUno div {
    margin-top: 1.75rem;
  }

  .formulario form ul .seccionDos .cuentanos {
    font-size: 2.05rem;
  }

  .formulario form ul li div img,
  .formulario form ul li div .inputs {
    display: block;
    width: 30%;
    margin: 0;
  }

  /* Decorados inputs */
  .formulario form ul li div .inputs input[type="text"],
  .formulario form ul li div .inputs input[type="number"],
  .formulario form ul li div .inputs input[type="email"],
  .formulario form ul li div .inputs select,
  .formulario form ul li div .inputs details {
    width: 370px;
  }

  /* Imágenes formulario */
  .formulario form ul .seccionUno div .imagenMapa {
    width: 22%;
    margin-bottom: 0.75rem;
  }

  .formulario form ul .seccionDos div .quality {
    width: 25%;
  }

  .formulario form ul .seccionTres div .city {
    margin-top: 3rem;
  }

  .formulario form ul .seccionCuatro div .chat {
    width: 23.5%;
    margin: 0 0 1.3rem 0;
  }

  .formulario form ul li div .inputs {
    margin-right: 2rem;
  }

  .formulario form ul li div .inputs p {
    margin: 0 auto;
  }

  /* Sección 2, 3 y 4 -> inputs con texto a un lado */
  .formulario form ul .seccionDos div .inputs p,
  .formulario form ul .seccionTres div .inputs p,
  .formulario form ul .seccionCuatro div .inputs p {
    width: 370px;
  }

  /* Sección 3 */
  .formulario form ul .seccionTres h2 {
    margin-bottom: 0;
  }

  .formulario form ul .seccionTres .instruccion {
    margin: 0 11rem;
    width: 33%;
    font-size: 0.8rem;
  }

  /* Sección 4 */
  /* Términos y condiciones y Políticas de privacidad */
  .formulario form ul .seccionCuatro div .inputs .politicaTerminos {
    width: 440px;
    margin: 2rem 0.5rem;
  }

  .formulario form ul .seccionCuatro div .inputs .politicaTerminos p {
    width: 420px;
  }

  /* Botones */
  .formulario form .buttonsForm {
    margin-bottom: 2rem;
  }

  .formulario form .buttonsForm button {
    background-color: var(--decorado);
    display: block;
    width: 8rem;
    padding: 0.25rem 0;
    outline: none;
    border: 0;
    cursor: pointer;
    color: var(--decorado2);
    border-radius: 9999px;
  }

  /*********************************** Sección footer ***********************************/
  footer {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
  }

  /* Ya se ve la vista en PC */
  footer .logoPc {
    display: block;
    width: 22.5%;
  }

  footer .logoPc img {
    display: block;
    width: 11rem;
    margin: 0 auto;
  }

  footer .logoPc p {
    font-size: 0.9rem;
    color: #fff;
  }

  /* links a dirección, correo y teléfonos */
  footer .info {
    width: 24%;
    margin: 0 0 0 3.17rem;
  }

  footer .info .telefonos {
    display: flex;
    justify-content: space-between;
  }

  footer .info a {
    padding: 0;
    margin: 0.5rem 0;
    font-size: 1rem;
  }

  footer .info a:hover {
    color: var(--fondo2);
  }

  footer .info a span {
    color: var(--decorado);
    font-size: 1.2rem;
  }

  /* Links a redes */
  footer .redes {
    width: 30%;
    margin: 0 4.1rem 0 0;
  }

  footer .redes .footer__redes a {
    width: 2.75rem;
    height: 2.75rem;
  }

  /* Aviso de privacidad */
  footer .redes .aviso {
    margin-top: 0;
    padding: 0.5rem 0;
    font-size: 1.25rem;
  }

  /* Logo ya no se ve en celular */
  footer .logoCel {
    display: none;
  }
}