/* Fuentes */
@import url(https://allfont.es/allfont.css?fonts=book-antiqua);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Variables de color */
:root {
  --decorado: #bc9321;
  --decorado1: #a08a5a;
  --decorado2: #ffecb7;
  --decorado4: #907335;
  --fondo: #0b0020;
  --fondo1: #e6e6e6;
  --fondo2: #b3b3b3;
}

html {
  scroll-behavior: smooth;
}

/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Mobile View 
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
/*********************************** Sección de pasos ***********************************/
.pasos h1 {
  text-align: center;
  margin: 0.5rem 0;
  font-family: 'Book Antiqua', arial;
}

.pasos h1 span {
  color: var(--decorado);
}

.pasos .pasos__texto p {
  margin: 0.5rem 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.pasos .pasos__texto p span {
  background-color: var(--fondo2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 28px;
  border-radius: 50%;
  font-family: 'Book Antiqua', arial;
}

/*********************************** Sección de formulario ***********************************/
.formulario {
  width: 100%;
  background-color: var(--fondo1);
}

.formulario .indicador {
  display: flex;
}

.formulario .indicador span {
  display: block;
  background-color: var(--fondo);
  height: 10px;
  transition: 1s;
}

/* Formulario */
.formulario form {
  overflow: hidden;
  width: 100%;
}

/* Estilos de lista del formulario */
.formulario form ul {
  display: flex;
  width: 400%;
  transition: 0.75s;
}

.formulario form ul li {
  list-style: none;
  width: 100%;
}

/* Imágenes formulario */
.formulario form ul li div img {
  display: block;
  width: 95%;
  margin: 1rem auto;
}

/* Decorados texto */
.formulario form ul li p span,
.formulario form ul li h2 span {
  color: var(--decorado);
}

.formulario form ul li p .numero {
  font-size: 2rem;
}

/* Decorados inputs */
.formulario form ul li div .inputs input[type="text"],
.formulario form ul li div .inputs input[type="number"],
.formulario form ul li div .inputs input[type="email"],
.formulario form ul li div .inputs select,
.formulario form ul li div .inputs details {
  display: block;
  width: 95%;
  height: 38px;
  margin: 1rem auto;
  padding-left: 0.25rem;
  outline: none;
  border: 2px solid var(--decorado);
  border-radius: 10px;
}

.formulario form ul li div .inputs details {
  height: auto;
  padding: 0;
  overflow: hidden;
}

.formulario form ul li div .inputs select,
.formulario form ul li div .inputs details summary {
  background-color: #fff;
  color: #00000088;
}

.formulario form ul li div .inputs details summary {
  width: 100%;
  height: 100%;
  padding: 0.24rem 0 0.24rem 0.25rem;
}

/* Quita las reglas del la lista de cada parte del formulario */
.formulario form ul li div .inputs  ul {
  display: block;
  width: 100%;
  margin: 0;
}

.formulario form ul li div .inputs  ul li {
  background-color: #fff;
}

.formulario form ul li div .inputs  ul li input[type="checkbox"] {
  margin: 0.25rem 0  0.25rem 1.5rem;
}

.formulario form ul li div .inputs .pisoPropiedad::placeholder {
  font-size: 1.15rem;
}

/* Textos y títulos de cada sección */
.formulario form ul li p,
.formulario form ul li h2 {
  width: 95%;
  margin: 0 auto;
}
/* Sección 1 */
.formulario form ul .seccionUno div .inputs .pregunta {
  text-align: center;
}

/* Sección 2, 3 y 4 -> inputs con texto a un lado */
.formulario form ul .seccionDos div .inputs p,
.formulario form ul .seccionTres div .inputs p,
.formulario form ul .seccionCuatro div .inputs p {
  background-color: #fff;
  width: 95%;
  height: 38px;
  border: 2px solid var(--decorado);
  border-radius: 10px;
  color: var(--decorado);
  text-align: center;
}

.formulario form ul .seccionDos div .inputs p input[type="number"],
.formulario form ul .seccionTres div .inputs p input[type="text"],
.formulario form ul .seccionCuatro div .inputs p input[type="text"] {
  display: inline-block;
  border: 0;
  margin: 0;
  width: 90%;
  height: 100%;
}

.formulario form ul .seccionTres div .inputs p input[type="text"],
.formulario form ul .seccionCuatro div .inputs p input[type="text"] {
  width: 80%;
}

/* Sección 3 */
.formulario form ul .seccionTres .instruccion {
  margin: 1rem auto;
}

#otrosEspecifica {
  width: 90%;
  margin: 0 auto;
  border: 0;
}

/* Sección 4 */
#pRecibirDinero {
  height: 50px;
  margin-bottom: 1.75rem;
}
/* Términos y condiciones y Políticas de privacidad */
.formulario form ul .seccionCuatro div .inputs .politicaTerminos {
  width: 95%;
  height: auto;
  margin: 2rem auto;
  display: flex;
  align-items: center;
}

.formulario form ul .seccionCuatro div .inputs .politicaTerminos p {
  background-color: var(--fondo1);
  border: 0;
  border-radius: 0;
  color: #000;
  width: 90%;
  height: auto;
  text-align: left;
  font-size: 1.14rem;
}

.formulario form ul .seccionCuatro div .inputs .politicaTerminos p a {
  color: var(--decorado);
  text-decoration: none;
}

/* Botones */
.formulario form .buttonsForm {
  display: flex;
  height: 3.5rem;
  justify-content: space-evenly;
  align-items: center;
}

.formulario form .buttonsForm button {
  background-color: var(--decorado);
  display: block;
  width: 8rem;
  padding: 0.25rem 0;
  outline: none;
  border: 0;
  cursor: pointer;
  color: var(--decorado2);
  border-radius: 9999px;
}

/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Desktop View
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
@media screen and (min-width: 1000px) {
  .pasos {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pasos h1 {
    font-size: 32px;
    margin-bottom: 1.2rem;
  }

  .pasos .pasos__texto {
    display: flex;
    justify-content: space-evenly;
    width: 60rem;
    margin: 0 auto;
  }

  /*********************************** Sección de formulario ***********************************/
  .formulario form {
    height: 490px;
  }

  ::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
  }
  
  .formulario form ul li p,
  .formulario form ul li h2 {
    margin: 1rem 14rem;
    font-family: 'Open Sans', sans-serif;
  }

  .formulario form ul li div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  /* Margenes del div de cada sección */
  .formulario form ul .seccionUno div {
    margin-top: 1.75rem;
  }

  .formulario form ul .seccionDos .cuentanos {
    font-size: 23px;
  }

  .formulario form ul li div img,
  .formulario form ul li div .inputs {
    display: block;
    width: 266px;
    margin: 0;
  }

  /* Decorados inputs */
  .formulario form ul li div .inputs input[type="text"],
  .formulario form ul li div .inputs input[type="number"],
  .formulario form ul li div .inputs input[type="email"],
  .formulario form ul li div .inputs select,
  .formulario form ul li div .inputs details {
    width: 266px;
    height: 30px;
  }

  .formulario form ul li div .inputs select,
  .formulario form ul li div .inputs details {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
  }

  .formulario form ul li div .inputs details {
    height: auto;
  }

  /* Imágenes formulario */
  .formulario form ul .seccionUno div .imagenMapa {
    width: 266px;
    height: auto;
    margin: -0.5rem 0 0 14rem;
  }

  .formulario form ul .seccionDos div .quality {
    width: 266px;
    height: auto;
    margin: -0.25rem 0 0 14rem;
  }

  .formulario form ul .seccionTres div .city {
    width: 266px;
    height: auto;
    margin: 1rem 0 0 14rem;
  }

  .formulario form ul .seccionCuatro div .chat {
    width: 266px;
    margin: 0.4rem 0 0 14rem;
  }

  /* Margenes derechos de los inputs */
  .formulario form ul .seccionUno div .inputs {
    margin: -0.23rem 13.25rem 0 0;
  }

  .formulario form ul .seccionDos div .inputs {
    margin: 0rem 13.1rem 0.6rem 0;
  }

  .formulario form ul .seccionTres div .inputs {
    margin: -0.4rem 13.1rem 0 0;
  }

  .formulario form ul .seccionCuatro div .inputs {
    margin: 0.45rem 13.1rem 0 0;
  }

  .formulario form ul li div .inputs p {
    margin: 0 auto;
  }

  /* Sección 2, 3 y 4 -> inputs con texto a un lado */
  .formulario form ul .seccionDos div .inputs p,
  .formulario form ul .seccionTres div .inputs p,
  .formulario form ul .seccionCuatro div .inputs p {
    width: 266px;
    height: 30px;
    font-size: 16px;
  }

  .formulario form ul .seccionDos div .inputs p input[type="number"] {
    width: 86%;
  }

  /* Sección 1 */
  .formulario form ul .seccionUno p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: 14rem;
  }

  .formulario form ul .seccionUno p .numero {
    font-size: 28px;
    font-weight: bold;
  }

  #pregunta {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
  }

  /* Sección 3 */
  .formulario form ul .seccionTres h2 {
    margin-bottom: 0;
    font-size: 23px;
  }

  .formulario form ul .seccionTres .instruccion {
    margin: 0 13.75rem;
    width: 35%;
    font-size: 14px;
    font-family: arial;
  }

  /* Sección 4 */
  .formulario form ul .seccionCuatro h2 {
    font-size: 23px;
  }

  #pRecibirDinero {
    height: 45px;
  }

  /* Términos y condiciones y Políticas de privacidad */
  .formulario form ul .seccionCuatro div .inputs .politicaTerminos {
    width: 266px;
    margin: 1rem 0.5rem 0;
  }

  .formulario form ul .seccionCuatro div .inputs .politicaTerminos p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11px;
  }

  /* Botones */
  .formulario form .buttonsForm {
    margin-bottom: 2rem;
  }

  .formulario form .buttonsForm button {
    background-color: var(--decorado);
    display: block;
    width: 150px;
    height: 33px;
    padding: 0.25rem 0;
    outline: none;
    border: 0;
    cursor: pointer;
    color: var(--decorado2);
    border-radius: 9999px;
    font-family: 'Book Antiqua', arial;
    font-size: 17px;
  }
}